@import 'tailwindcss';

/* Flowbite */

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary-hue: 210;
    --secondary-hue: 20;
}

@theme {
  --color-primary-50: hsl(var(--primary-hue), 100%, 97%);
  --color-primary-100: hsl(var(--primary-hue), 100%, 97%);
  --color-primary-200: hsl(var(--primary-hue), 100%, 94%);
  --color-primary-300: hsl(var(--primary-hue), 100%, 90%);
  --color-primary-400: hsl(var(--primary-hue), 100%, 84%);
  --color-primary-500: hsl(var(--primary-hue), 99%, 68%);
  --color-primary-600: hsl(var(--primary-hue), 86%, 56%);
  --color-primary-700: hsl(var(--primary-hue), 83%, 54%);
  --color-primary-800: hsl(var(--primary-hue), 71%, 47%);
  --color-primary-900: hsl(var(--primary-hue), 72%, 38%);

  --color-secondary-50: hsl(var(--secondary-hue), 100%, 97%);
  --color-secondary-100: hsl(var(--secondary-hue), 100%, 97%);
  --color-secondary-200: hsl(var(--secondary-hue), 100%, 94%);
  --color-secondary-300: hsl(var(--secondary-hue), 100%, 90%);
  --color-secondary-400: hsl(var(--secondary-hue), 100%, 84%);
  --color-secondary-500: hsl(var(--secondary-hue), 99%, 68%);
  --color-secondary-600: hsl(var(--secondary-hue), 86%, 56%);
  --color-secondary-700: hsl(var(--secondary-hue), 83%, 54%);
  --color-secondary-800: hsl(var(--secondary-hue), 71%, 47%);
  --color-secondary-900: hsl(var(--secondary-hue), 72%, 38%);
}

@source "../../node_modules/flowbite-svelte/dist";
@source "../../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
